{% include "recipes/partials/head.html" %}

<body>
        <header class="main-header-container">
            <div class="main-header-container">
                <div class="container">
                    <a class="main-logo" href="/">
                      <div class="logo-icon">
                        <i class="fas fa-user"></i>
                      </div>
                            <span>Recipes {{name}}</span>
                        </a>
                </div>
                </div>

        </header>
